services:
  postgres:
    image: postgres:17
    container_name: NewsApi
    env_file:
      - .env
    ports:
      - "5434:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
